.container {
  display: flex;
  flex-direction: column;
  padding: var(--sizes-spacing-normal);
  padding-bottom: var(--sizes-spacing-sort);

  input[type='checkbox'] {
    display: none;
  }
}

.aboutLink {
  margin-top: auto;
  align-self: center;
}
